<app-navbar></app-navbar>


<div class="imagebg">
    <div id="container">
        <div class="d-flex vh-100 justify-content-center">
            <div class="row align-self-center">
                <div class="card mr-5" style="width:full">
                    <br>
                    <form class="row g-3">
                       
                        <div class="col-auto">
                           
                            <input type="number" class="form-control" id="inputPassword2" [formControl]="id" placeholder="Enter your order id">
                        </div>
                        <div class="col-auto">
                            <button (click)="viewStatus()" type="submit" class="btn btn-success mb-3">Check your order status</button>
                        </div>
    
    
    
                    </form>
    
                    <div class="col-auto">
                        <label>Gas Station</label>   
                        <input type="text" class="form-control" [formControl]="gasStation" placeholder="Gas Station Name">
                    </div>
                    <br>
                    <div class="col-auto">
                        <label>Scheduled Date</label>   
                        <input type="text" class="form-control" [formControl]="date" placeholder="Gas Station Name">
                    </div>
    <br>
    
    
    
                    <table class="table table-primary">
                        <thead>
                            <tr>
                              
                                <th>Order ID</th>
                                <th>Allocation Status</th>
                                <th>Schedule Status</th>
                                <th>Dispatch Status</th>
                                <th>Schedule Date</th>
                                <th>Schedule time</th>
                                <th>Deliver Date</th>
                               
                                
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let get of posts | async"> -->
                              <tr *ngIf="data.dispatch=='Pending';else second" class="table-danger" >
                                <td>{{data.orderId}}</td>
                                <td>{{data.allocation}}</td>
                                <td>{{data.schedule}}</td>
                                <td>{{data.dispatch}}</td>
                                <td>{{scheduleData.date}}</td>
                                <td>{{scheduleData.time}}</td>
                                 
                            </tr>
    
                           <ng-template #second>
    
                            <tr *ngIf="data.dispatch=='Success' && data.diliver=='Success';else third" class="table-success" >
                                <td>{{data.orderId}}</td>
                                <td>{{data.allocation}}</td>
                                <td>{{data.schedule}}</td>
                                <td>{{data.dispatch}}</td>
                                <td>{{scheduleData.date}}</td>
                                <td>{{scheduleData.time}}</td>
                                <td>{{data.diliverDate}}</td>
                                 
                            </tr>
                           </ng-template>
    
                           <ng-template #third>
                            <tr *ngIf="data.diliver=='Pending'" class="table-success" >
                                <td>{{data.orderId}}</td>
                                <td>{{data.allocation}}</td>
                                <td>{{data.schedule}}</td>
                                <td>{{data.dispatch}}</td>
                                <td>{{scheduleData.date}}</td>
                                <td>{{scheduleData.time}}</td>
                                <td><button class="btn btn-success"  (click)="deliver(data.orderId)">Order Delivered</button></td>
                                 
                            </tr> 
                           </ng-template>
    
    <!-- 
                            <tr *ngIf="data.diliverDate=='null'" class="table-success" >
                                <td>{{data.orderId}}</td>
                                <td>{{data.allocation}}</td>
                                <td>{{data.schedule}}</td>
                                <td>{{data.dispatch}}</td>
                                <td>{{scheduleData.date}}</td>
                                <td>{{scheduleData.time}}</td>
                                <td><button class="btn btn-success">Order Delivered</button></td>
                                 
                            </tr>  -->
    
    
                        </tbody>
                    
                    </table>
    
                </div>
            </div>
        </div>
    </div>

</div>
